In [1]:
# HIDES INFO MESSAGES FROM INTERPRETER

import logging, sys
logging.disable(sys.maxsize)

In [2]:
# IMPORTING REQUIRED MODULES

import os,sys
import math
import parser
import dataset
import pandas as pd

/home/asb91/.local/lib/python3.8/site-packages/Bio/SubsMat/__init__.py:126: BiopythonDeprecationWarning: Bio.SubsMat has been deprecated, and we intend to remove it in a future release of Biopython. As an alternative, please consider using Bio.Align.substitution_matrices as a replacement, and contact the Biopython developers if you still need the Bio.SubsMat module.
  warnings.warn(

In [3]:
# IMPORTING THE TRAINED MODEL

import joblib

file = open(r'model.txt','r') 
Model = joblib.load(file.read())
file.close()

In [4]:
# READING FILES

dir = os.path.dirname(os.getcwd())
path = os.path.join(dir,"Data","Predict")
dirs = os.listdir(path)

In [5]:
data = dataset.database(dirs,path)

In [6]:
# VISUALISING FEATURE VECTOR

f_vec = data[1]
data_fvec = pd.DataFrame(f_vec,columns=['dist_d','dist_D','ang_th'])
data_fvec

      dist_d    dist_D      ang_th
0   0.999703  3.761492   74.405690
1   0.999658  3.639430  151.601410
2   1.000040  3.930736   77.022106
3   0.999924  3.806251   93.183900
4   0.999529  3.709285   54.810698
5   0.999748  3.853763   73.504304
6   0.999499  3.916665   75.138719
7   1.000118  3.657228   72.314939
8   0.999905  3.118820   64.670102
9   1.000253  3.711065   82.460975
10  0.999676  3.546997  109.907547
11  1.000029  3.276471  107.375515
12  0.999455  3.290269  173.356585

In [7]:
# MAKING PREDICTIONS

predictions = Model.predict(data_fvec)

In [8]:
# VISUALISING PREDICTIONS

Y = pd.DataFrame(predictions,columns=['Predictions'])
Y

   Predictions
0           NO
1          YES
2           NO
3           NO
4           NO
5           NO
6           NO
7           NO
8           NO
9           NO
10          NO
11         YES
12         YES

In [9]:
# APPENDING PREDICTIONS TO THE DATASET AND VISUALISING IT

data_val = pd.DataFrame(data[0],columns = ['File','S','S_Res','S_RID','S_X', 'S_Y','S_Z','H','H_Res','H_RID','H_X','H_Y','H_Z','N','N_Res','N_RID','N_X','N_Y','N_Z'])
pd.merge(data_val, Y, left_index=True, right_index=True)

,File,S,S_Res,S_RID,S_X,S_Y,S_Z,H,H_Res,H_RID,H_X,H_Y,H_Z,N,N_Res,N_RID,N_X,N_Y,N_Z,Predictions
0,1c5eAH,SD,MET,34,1.509,46.891,-2.557,H,MET,34,-0.145,43.395,-2.018,N,MET,34,-0.164,43.842,-1.124,NO
1,1c5eAH,SD,MET,38,8.457,31.266,1.264,H,ASP,50,8.303,33.021,3.348,N,ASP,50,7.789,33.645,3.936,YES
2,1a4iFH_B.pdb,SD,MET,82,14.347,22.845,6.349,H,MET,82,15.749,19.390,4.813,N,MET,82,14.786,19.184,4.987,NO
3,1a4iFH_B.pdb,SD,MET,278,-1.583,13.566,32.878,H,SER,13,-2.653,10.179,33.563,N,SER,13,-3.417,10.231,32.920,NO
4,1a4iFH_B.pdb,SD,MET,282,-2.071,17.018,27.928,H,GLY,151,1.269,19.099,29.379,N,GLY,151,0.342,19.170,29.746,NO
5,1a4iFH_B.pdb,SD,MET,282,-2.071,17.018,27.928,H,MET,282,0.085,13.896,26.610,N,MET,282,-0.671,14.011,25.966,NO
6,1a4iFH_B.pdb,SD,MET,284,-0.619,9.898,20.047,H,ALA,60,0.731,6.102,19.615,N,ALA,60,-0.247,6.007,19.798,NO
7,1a4iFH_B.pdb,SD,MET,284,-0.619,9.898,20.047,H,MET,284,-0.645,12.603,22.765,N,MET,284,-0.899,13.038,21.901,NO
8,1a1iFH_A.pdb,SD,MET,141,22.463,-0.920,48.319,H,MET,141,19.330,0.387,47.968,N,MET,141,19.815,0.656,48.800,NO
9,1a2zFH_C.pdb,SD,MET,1,14.529,45.829,-27.574,H,MET,36,13.869,46.362,-23.965,N,MET,36,14.138,47.299,-24.189,NO
10,1a2zFH_C.pdb,SD,MET,36,11.039,50.109,-25.863,H,VAL,37,12.683,50.571,-23.300,N,VAL,37,12.500,49.841,-22.642,NO
11,1hclH,SD,MET,1,107.751,112.619,95.157,H,GLU,2,105.404,114.188,95.424,N,GLU,2,105.117,114.455,94.504,YES
12,1hclH,SD,MET,1,107.751,112.619,95.157,H,ASN,3,107.685,114.419,93.734,N,ASN,3,107.562,115.154,93.068,YES